# ==========================================
# DateApp .NET User Secrets
# ==========================================
#
# Run these commands inside API folder:
#
# dotnet user-secrets set "TokenKey" "..."
# dotnet user-secrets set "MinIO:Endpoint" "..."
# ==========================================


dotnet user-secrets set "TokenKey" "change-this-to-a-secure-random-jwt-key"


# ==========================================
# MinIO Application Configuration
# ==========================================

dotnet user-secrets set "MinIO:Endpoint" "localhost:9000"
dotnet user-secrets set "MinIO:AccessKey" "change-this-access-key"
dotnet user-secrets set "MinIO:SecretKey" "change-this-secret-key"
dotnet user-secrets set "MinIO:BucketName" "photos"
