## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/repositories.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.sln.ide/
*.opendb

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store
*.swp
*.lock
~$*

## SQLite
*.db
*.db-shm
*.db-wal

## Secrets
appsettings.*.local.json
secrets.json
